html,
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
}
p {
    margin: 5px;
}
h1 {
    margin: 10px 0;
}
#title {
    display: block;
    position: fixed;
    font-size: 1.4em;
    margin: 0;
    background: rgba(220,220,240,.7);
    padding: .6em;
    border-radius: 10px;
    border: 1px solid #999;
    top: 10px;
    left: -10px;

    -webkit-transform: none;
            transform: none;
}

.title-show #title{
    -webkit-transform: translateX(-190px);
    transform: translateX(-190px);
    will-change: transform;
}

.menu--animatable #title,
.menu--animatable .tools {
    transition: all 130ms ease-in;
}

.title-show.menu--animatable  #title,
.toolbar-hide.menu--animatable  .tools {
    transition: all 330ms ease-out;
}


.thick p {
    margin: 12px 0;
}
.thick > ul > li:nth-child(7) > p {
    margin: 10px 0 5px;
}
.thick > ul > li:nth-child(8) > p {
    margin: 10px 0 3px;
}
.thick > ul > li:nth-child(9) {
    margin: 15px 0;
}
.content {
    display: flex;
    flex-flow: row;
    width: 100vw;
    height: 100vh;
}
canvas {
    border: 2px solid black;
}
.canvas {
    flex: 0 1 65%;
    margin: 0;
}

.tools {
    text-align: center;
    padding: 5px;
    margin: 0;
    display: block;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 10px;
    background: rgba(220,220,240,0.7);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #999;

    -webkit-transform: none;
            transform: none;
}

.toolbar-hide .tools{
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
    will-change: transform;
}

.tools-toogle {
    display: block;
    position: absolute;
    z-index: 100;
    right: 0;
    bottom: 10%;
    width: 30px;
    height: 35px;
    background: rgba(220,220,240,0.7);
    border: 1px solid #999;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 2px 4px 2px 2px;
}

.tools-toogle img{
    width: 35px;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    text-decoration: none;
    list-style: none;
}
#color {
    display: none;
}
#palette {
    display: none;
}
.thick ul > li > a > img {
    width: 40px;
    height: auto;
}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .tools {
        padding: 5px;
        z-index: 10;
        font-size: 10px;
    }
    #colorSelect {
        width: 60px;
    }
    .tools-toogle {
        left: 0;
        bottom: 15vh;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .tools {
        padding: 2px;
        z-index: 10;
        font-size: 8px;
        top: -18px;
    }
    #colorSelect {
        width: 60px;
    }
    .thick ul > li > a > img {
        width: 33px;
    }
    .thick > ul > li:nth-child(7) > p {
        margin: 0 0 2px;
    }
    .thick > ul > li:nth-child(8) > p {
        margin-top: 1px;
    }
    .tools-toogle {
        left: 0;
        bottom: 15vh;
        opacity: .6;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}